.colorFooter{
    background-color:rgb(28, 66, 192);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.header__flex{
background-color:rgb(53, 53, 53);
display: flex;
justify-content:center;

}
.logo{
display:flex;
align-items: center;
width:50%;
padding-left:2rem;
}
.img__logo{
width:20%;

}
.navegador{

width:50%;
display: flex;
align-items: center;
justify-content:space-between;
}
.link{
text-decoration: none;
color: white;
font-size: 1rem;
}
.imagenMain{
width:100%;
}

.sectionDividida{
display: flex;
height:70vh;
}
.imagenIzq{
height:100%;
width:50%;
background-image: url("./assets/imagenes/hawaii3.jpg");
background-size: cover;
}
.rowImagen{
height:70vh;
}
.alto{
height:100%;
}
.imagen{
background-image: url("./assets/imagenes/hawaii3.jpg");
background-size: cover;
}
.contenido{
padding:2rem ;
background-color: #343333;
color:white;
font-size: 1.5rem;

}
.contenidoDer{
height:100%;
width:50%;
padding:2rem ;
background-color: #343333;
color:white;
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.sectionTarjetas{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.padreTarjetas{
width:100%;
display: flex;
justify-content: center;
align-items: center;
text-align: left;
}
.tarjetas__flex{
width:80%;
display:flex;

justify-content:space-between;

}

.Javascript{
    background-color: yellow;
    color: black;
    text-decoration: none;
    font-weight: bold; 
}
.React{
background-color: rgb(26, 158, 180);
color: white;
text-decoration: none;
font-weight: bold; 
}

.Negocios{
    background-color: rgb(107, 114, 120);
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.Startups{
    background-color: rgb(211, 54, 71);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tarjeta{
background-color: white;
width: 30%;
border:1px solid rgb(214, 214, 214);
border-radius: 10px;

}
.tarjetaImagen{
width: 100%;
border-radius: 10px;
}
.tarjetaContenido{
padding:1rem;
}

.tarjetaParrafo{
width:80%;
}
.sectionPrincipal{
background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url("./assets/imagenes/ba1.jpg");
height:100vh;
width: 100%;
display: flex;
justify-content:flex-end;
align-items:center;
}
.contenidoPrincipal{
width: 60%;
text-align: right;
color:white;
}
@media screen and (max-width: 900px){
.header__flex{
    flex-direction:column;

}
.logo{
    width:100%;
    justify-content:space-between;
    padding-left:0;
}
.navegador{
    width:100%;
    flex-direction: column;
    padding-right:initial;

}
.conocemas{
    color: grey;
}
.link{
    display:inline-block;
    padding:1rem;
    border-bottom: 1px solid white;
    width:100%;
}

.sectionPrincipal{
    justify-content:center;
}

.parrafoPrincipal{
    line-height:1.5rem;
}
.contenidoPrincipal{
    width: 80%;
    text-align: center;
    backdrop-filter: blur(5px);
}
h1{
    font-size: 2rem;
    margin-bottom:0.6rem;
}

.tarjetas__flex{
    flex-direction: column;
}
.tarjeta{
    width: 100%;
    margin-bottom:1rem;
    box-shadow: -7px -7px 50px 6px rgba(0,0,0,0.54);
    -webkit-box-shadow: -7px -7px 50px 6px rgba(0,0,0,0.54);
    -moz-box-shadow: -7px -7px 50px 6px rgba(0,0,0,0.54);
}
.sectionDividida{
    flex-direction: column;
}
.imagenIzq{
    width:100%;
}
.contenidoDer{
    width:100%;
}
.alto{
    height:50%;
}
.contenido{
    font-size: 1rem;
}
}